In [403]:
# Import libraries
from msc_code.scripts.notebook_setup import *

In [404]:
# Import case_data
import_path = os.path.join(RAW_DATA_DIR, 'data_extraction', 'case_report_data_extraction_end.xlsx')
case_data = pd.read_excel(import_path)

In [405]:
# Inspect first 5 rows of data
case_data.head()

,Study_ID,Patient_ID,Age_Yrs,Gender,Is_Intentional,Is_Prisoner,Is_Psych_Inpat,Is_Displaced_Person,Under_Influence_Alcohol,Psych_Hx,...,Object_Other_Long,Outcome_Endoscopy,Outcome_Surgery,Outcome_Death,Outcome_Injury_Needing_Intervention,Outcome_Perforation,Outcome_Obstruction,Outcome_Other,Outcome_Other_Long,Comments
0,3,3-001,UK,UK,Y,N,N,UK,N,N,...,21cm knife,N,Y,N,Y,Y,N,N,NaN,21cm knife from the stomach of a bohemian jugg...
1,3,3-002,UK,UK,Y,N,N,UK,N,N,...,18cm table knife,N,Y,N,N,N,N,N,NaN,18cm table knife.
2,3,3-003,16,Male,Y,N,N,UK,N,N,...,Knife,N,Y,N,Y,Y,N,N,NaN,Knife in stomach 7 months. External dermal ulc...
3,3,3-004,UK,Female,Y,N,N,UK,N,N,...,16.5cm knife,N,Y,N,Y,Y,N,N,NaN,"16.5cm knife, in stomach 11days. Gastric perfo..."
4,3,3-005,UK,UK,Y,N,N,UK,N,N,...,4.5cm knife,N,Y,N,Y,Y,N,N,NaN,4.5cm knife. Found to have perforated stomach ...

In [406]:
# Check Patient_IDs are unique
case_data['Patient_ID'].nunique() == len(case_data)

True

In [407]:
# Check Study_ID matches Patient_ID
case_data['Study_ID'] = case_data['Study_ID'].astype(str)
(case_data['Study_ID'] != case_data['Patient_ID'].str.split("-").str[0]).sum()

np.int64(0)

In [408]:
case_data[case_data['Study_ID'] != case_data['Patient_ID'].str.split("-").str[0]]

Empty DataFrame
Columns: [Study_ID, Patient_ID, Age_Yrs, Gender, Is_Intentional, Is_Prisoner, Is_Psych_Inpat, Is_Displaced_Person, Under_Influence_Alcohol, Psych_Hx, Severe_Disability_Hx, Previous_Ingestions, Motivation_Intent_To_Harm, Motivation_Protest, Motivation_Psychiatric, Motivation_Psychosocial, Motivation_Unknown, Motivation_Other, Motivation_Other_Long, Object_Button_Battery, Object_Magnet, Object_Long, Object_Diameter_Large, Object_Sharp, Object_Multiple, Object_Other_Long, Outcome_Endoscopy, Outcome_Surgery, Outcome_Death, Outcome_Injury_Needing_Intervention, Outcome_Perforation, Outcome_Obstruction, Outcome_Other, Outcome_Other_Long, Comments]
Index: []

[0 rows x 35 columns]

In [409]:
non_binary_cols = ['Study_ID', 'Patient_ID', 'Age_Yrs', 'Gender', 'Comments']
binary_cols = [col for col in case_data.columns if col not in non_binary_cols and not col.endswith('Long')]
binary_cols

['Is_Intentional',
 'Is_Prisoner',
 'Is_Psych_Inpat',
 'Is_Displaced_Person',
 'Under_Influence_Alcohol',
 'Psych_Hx',
 'Severe_Disability_Hx',
 'Previous_Ingestions',
 'Motivation_Intent_To_Harm',
 'Motivation_Protest',
 'Motivation_Psychiatric',
 'Motivation_Psychosocial',
 'Motivation_Unknown',
 'Motivation_Other',
 'Object_Button_Battery',
 'Object_Magnet',
 'Object_Diameter_Large',
 'Object_Sharp',
 'Object_Multiple',
 'Outcome_Endoscopy',
 'Outcome_Surgery',
 'Outcome_Death',
 'Outcome_Injury_Needing_Intervention',
 'Outcome_Perforation',
 'Outcome_Obstruction',
 'Outcome_Other']

In [410]:
# Check for blank binary_cols
filtered_case_data = case_data[case_data[binary_cols].isna().any(axis=1)]
filtered_case_data

Empty DataFrame
Columns: [Study_ID, Patient_ID, Age_Yrs, Gender, Is_Intentional, Is_Prisoner, Is_Psych_Inpat, Is_Displaced_Person, Under_Influence_Alcohol, Psych_Hx, Severe_Disability_Hx, Previous_Ingestions, Motivation_Intent_To_Harm, Motivation_Protest, Motivation_Psychiatric, Motivation_Psychosocial, Motivation_Unknown, Motivation_Other, Motivation_Other_Long, Object_Button_Battery, Object_Magnet, Object_Long, Object_Diameter_Large, Object_Sharp, Object_Multiple, Object_Other_Long, Outcome_Endoscopy, Outcome_Surgery, Outcome_Death, Outcome_Injury_Needing_Intervention, Outcome_Perforation, Outcome_Obstruction, Outcome_Other, Outcome_Other_Long, Comments]
Index: []

[0 rows x 35 columns]

In [411]:
# Convery binary cols to 1 and 0s based on Y and N value
binary_map = {'Y': 1, 'N': 0, 'UK': np.nan}

case_data[binary_cols] = case_data[binary_cols].replace(binary_map)

case_data[binary_cols] = case_data[binary_cols].astype(float)

/var/folders/2z/pkyt34z93md62kmcdphb_kf00000gn/T/ipykernel_73968/66794324.py:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  case_data[binary_cols] = case_data[binary_cols].replace(binary_map)

In [412]:
# Check for blank age column
filtered_case_data = case_data[case_data['Age_Yrs'].isna()]
filtered_case_data

Empty DataFrame
Columns: [Study_ID, Patient_ID, Age_Yrs, Gender, Is_Intentional, Is_Prisoner, Is_Psych_Inpat, Is_Displaced_Person, Under_Influence_Alcohol, Psych_Hx, Severe_Disability_Hx, Previous_Ingestions, Motivation_Intent_To_Harm, Motivation_Protest, Motivation_Psychiatric, Motivation_Psychosocial, Motivation_Unknown, Motivation_Other, Motivation_Other_Long, Object_Button_Battery, Object_Magnet, Object_Long, Object_Diameter_Large, Object_Sharp, Object_Multiple, Object_Other_Long, Outcome_Endoscopy, Outcome_Surgery, Outcome_Death, Outcome_Injury_Needing_Intervention, Outcome_Perforation, Outcome_Obstruction, Outcome_Other, Outcome_Other_Long, Comments]
Index: []

[0 rows x 35 columns]

In [413]:
# Check for blank gender column
filtered_case_data = case_data[case_data['Gender'].isna()]
filtered_case_data

Empty DataFrame
Columns: [Study_ID, Patient_ID, Age_Yrs, Gender, Is_Intentional, Is_Prisoner, Is_Psych_Inpat, Is_Displaced_Person, Under_Influence_Alcohol, Psych_Hx, Severe_Disability_Hx, Previous_Ingestions, Motivation_Intent_To_Harm, Motivation_Protest, Motivation_Psychiatric, Motivation_Psychosocial, Motivation_Unknown, Motivation_Other, Motivation_Other_Long, Object_Button_Battery, Object_Magnet, Object_Long, Object_Diameter_Large, Object_Sharp, Object_Multiple, Object_Other_Long, Outcome_Endoscopy, Outcome_Surgery, Outcome_Death, Outcome_Injury_Needing_Intervention, Outcome_Perforation, Outcome_Obstruction, Outcome_Other, Outcome_Other_Long, Comments]
Index: []

[0 rows x 35 columns]

In [414]:
case_data['Gender'].unique()

array(['UK', 'Male', 'Female'], dtype=object)

In [415]:
# replace 'UK' with 'Unknown' in Gender columns
case_data['Gender'] = case_data['Gender'].str.replace('UK', 'Unknown')

In [416]:
permitted_values = ['Unknown', 'Male', 'Female']

# Create a mask where any value in Gender col is not in permitted_values
mask = ~case_data['Gender'].isin(permitted_values)

# Filter the rows that have problems
filtered_case_data = case_data[mask]
filtered_case_data

Empty DataFrame
Columns: [Study_ID, Patient_ID, Age_Yrs, Gender, Is_Intentional, Is_Prisoner, Is_Psych_Inpat, Is_Displaced_Person, Under_Influence_Alcohol, Psych_Hx, Severe_Disability_Hx, Previous_Ingestions, Motivation_Intent_To_Harm, Motivation_Protest, Motivation_Psychiatric, Motivation_Psychosocial, Motivation_Unknown, Motivation_Other, Motivation_Other_Long, Object_Button_Battery, Object_Magnet, Object_Long, Object_Diameter_Large, Object_Sharp, Object_Multiple, Object_Other_Long, Outcome_Endoscopy, Outcome_Surgery, Outcome_Death, Outcome_Injury_Needing_Intervention, Outcome_Perforation, Outcome_Obstruction, Outcome_Other, Outcome_Other_Long, Comments]
Index: []

[0 rows x 35 columns]

In [417]:
# Replace 'UK' with np.nan 
case_data['Age_Yrs'] = case_data['Age_Yrs'].replace('UK', np.nan)

# convert to float
case_data['Age_Yrs'] = case_data['Age_Yrs'].astype(float)

# check for unrealistic ages
unrealistic_ages = case_data[(case_data['Age_Yrs'] < 0) | (case_data['Age_Yrs'] > 120)]

unrealistic_ages

/var/folders/2z/pkyt34z93md62kmcdphb_kf00000gn/T/ipykernel_73968/1122243918.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  case_data['Age_Yrs'] = case_data['Age_Yrs'].replace('UK', np.nan)

Empty DataFrame
Columns: [Study_ID, Patient_ID, Age_Yrs, Gender, Is_Intentional, Is_Prisoner, Is_Psych_Inpat, Is_Displaced_Person, Under_Influence_Alcohol, Psych_Hx, Severe_Disability_Hx, Previous_Ingestions, Motivation_Intent_To_Harm, Motivation_Protest, Motivation_Psychiatric, Motivation_Psychosocial, Motivation_Unknown, Motivation_Other, Motivation_Other_Long, Object_Button_Battery, Object_Magnet, Object_Long, Object_Diameter_Large, Object_Sharp, Object_Multiple, Object_Other_Long, Outcome_Endoscopy, Outcome_Surgery, Outcome_Death, Outcome_Injury_Needing_Intervention, Outcome_Perforation, Outcome_Obstruction, Outcome_Other, Outcome_Other_Long, Comments]
Index: []

[0 rows x 35 columns]

In [418]:
# Check for blank 'Study_ID'
filtered_case_data = case_data[case_data['Study_ID'].isna()]
filtered_case_data

Empty DataFrame
Columns: [Study_ID, Patient_ID, Age_Yrs, Gender, Is_Intentional, Is_Prisoner, Is_Psych_Inpat, Is_Displaced_Person, Under_Influence_Alcohol, Psych_Hx, Severe_Disability_Hx, Previous_Ingestions, Motivation_Intent_To_Harm, Motivation_Protest, Motivation_Psychiatric, Motivation_Psychosocial, Motivation_Unknown, Motivation_Other, Motivation_Other_Long, Object_Button_Battery, Object_Magnet, Object_Long, Object_Diameter_Large, Object_Sharp, Object_Multiple, Object_Other_Long, Outcome_Endoscopy, Outcome_Surgery, Outcome_Death, Outcome_Injury_Needing_Intervention, Outcome_Perforation, Outcome_Obstruction, Outcome_Other, Outcome_Other_Long, Comments]
Index: []

[0 rows x 35 columns]

In [419]:
# Check for blank 'Patient_ID'
filtered_case_data = case_data[case_data['Patient_ID'].isna()]
filtered_case_data

Empty DataFrame
Columns: [Study_ID, Patient_ID, Age_Yrs, Gender, Is_Intentional, Is_Prisoner, Is_Psych_Inpat, Is_Displaced_Person, Under_Influence_Alcohol, Psych_Hx, Severe_Disability_Hx, Previous_Ingestions, Motivation_Intent_To_Harm, Motivation_Protest, Motivation_Psychiatric, Motivation_Psychosocial, Motivation_Unknown, Motivation_Other, Motivation_Other_Long, Object_Button_Battery, Object_Magnet, Object_Long, Object_Diameter_Large, Object_Sharp, Object_Multiple, Object_Other_Long, Outcome_Endoscopy, Outcome_Surgery, Outcome_Death, Outcome_Injury_Needing_Intervention, Outcome_Perforation, Outcome_Obstruction, Outcome_Other, Outcome_Other_Long, Comments]
Index: []

[0 rows x 35 columns]

In [420]:
# Check for invalid values in binary cols
permitted_values = ['Y', 'N', 'UK']

# Create a mask where any value across binary_cols is not in permitted_values
mask = ~case_data[binary_cols].isin(permitted_values).all(axis=1)

# Filter the rows that have problems
filtered_case_data = case_data[mask]
filtered_case_data

,Study_ID,Patient_ID,Age_Yrs,Gender,Is_Intentional,Is_Prisoner,Is_Psych_Inpat,Is_Displaced_Person,Under_Influence_Alcohol,Psych_Hx,...,Object_Other_Long,Outcome_Endoscopy,Outcome_Surgery,Outcome_Death,Outcome_Injury_Needing_Intervention,Outcome_Perforation,Outcome_Obstruction,Outcome_Other,Outcome_Other_Long,Comments
0,3,3-001,NaN,Unknown,1.0,0.0,0.0,NaN,0.0,0.0,...,21cm knife,0.0,1.0,0.0,1.0,1.0,0.0,0.0,NaN,21cm knife from the stomach of a bohemian jugg...
1,3,3-002,NaN,Unknown,1.0,0.0,0.0,NaN,0.0,0.0,...,18cm table knife,0.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN,18cm table knife.
2,3,3-003,16.0,Male,1.0,0.0,0.0,NaN,0.0,0.0,...,Knife,0.0,1.0,0.0,1.0,1.0,0.0,0.0,NaN,Knife in stomach 7 months. External dermal ulc...
3,3,3-004,NaN,Female,1.0,0.0,0.0,NaN,0.0,0.0,...,16.5cm knife,0.0,1.0,0.0,1.0,1.0,0.0,0.0,NaN,"16.5cm knife, in stomach 11days. Gastric perfo..."
4,3,3-005,NaN,Unknown,1.0,0.0,0.0,NaN,0.0,0.0,...,4.5cm knife,0.0,1.0,0.0,1.0,1.0,0.0,0.0,NaN,4.5cm knife. Found to have perforated stomach ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209,680,680-001,22.0,Male,1.0,NaN,NaN,NaN,NaN,1.0,...,"""sixty curved and straight nails, needle and w...",0.0,1.0,0.0,1.0,0.0,1.0,0.0,NaN,NaN
210,683,683-001,59.0,Female,1.0,0.0,NaN,NaN,NaN,1.0,...,"""12cm pen""",0.0,1.0,0.0,1.0,1.0,0.0,1.0,"""hepatic abscess caused by foreign body migrat...",NaN
211,684,684-001,12.0,Male,1.0,0.0,0.0,NaN,0.0,NaN,...,"""doormat""",0.0,1.0,0.0,1.0,0.0,0.0,0.0,NaN,NaN
212,686,686-001,39.0,Male,1.0,0.0,0.0,NaN,NaN,1.0,...,"""120 foreign objects, such as keys, nails, iro...",0.0,1.0,0.0,1.0,0.0,0.0,0.0,NaN,NaN
213,692,692-001,30.0,Male,1.0,1.0,0.0,NaN,NaN,0.0,...,"""cell phone (with the battery in-situ) in two ...",1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN

In [421]:
# Show duplicates
case_data.duplicated().sum()

np.int64(0)

In [422]:
# Show cases in case_data that aren't in included_ids
# print(set(case_data['Study_ID']) - set(included_ids))

### Filter Dataset

In [423]:
# filter out cases where motivation is unknown
filtered_case_data = case_data[case_data['Motivation_Unknown'] != 'Y']
print(f"Original rows: {len(case_data)}, Filtered rows: {len(filtered_case_data)}")
case_data = filtered_case_data.copy()

Original rows: 214, Filtered rows: 214

In [424]:
# Import full text screen end data to see which papers are included
import_path = os.path.join(PROC_DATA_DIR, 'full_text_screen', 'full_text_screen_included_final.csv')
ft_included_data = pd.read_csv(import_path)
ft_included_data['Study_ID'] = ft_included_data['Study_ID'].astype(str)
ft_included_ids = list(ft_included_data['Study_ID'])

In [425]:
# Import bibliography search screening results
import_path = os.path.join(PROC_DATA_DIR, 'bibliography_search', 'bib_search_included_final.csv')
bs_included_data = pd.read_csv(import_path)
bs_included_data['Study_ID'] = bs_included_data['Study_ID'].astype(str)
bs_included_ids = list(bs_included_data['Study_ID'])

In [426]:
# Create list of all included_ids
included_ids = sorted(ft_included_ids + bs_included_ids)

In [427]:
len(included_ids)

166

In [428]:
filtered_case_data = case_data[case_data['Study_ID'].isin(included_ids)]
print(f"Original rows: {len(case_data)}, Filtered rows: {len(filtered_case_data)}")
case_data = filtered_case_data.copy()

Original rows: 214, Filtered rows: 195

In [429]:
case_data.head()

,Study_ID,Patient_ID,Age_Yrs,Gender,Is_Intentional,Is_Prisoner,Is_Psych_Inpat,Is_Displaced_Person,Under_Influence_Alcohol,Psych_Hx,...,Object_Other_Long,Outcome_Endoscopy,Outcome_Surgery,Outcome_Death,Outcome_Injury_Needing_Intervention,Outcome_Perforation,Outcome_Obstruction,Outcome_Other,Outcome_Other_Long,Comments
19,39,39-001,31.0,Male,1.0,0.0,1.0,NaN,0.0,0.0,...,"5 bells, 1 battery",1.0,0.0,0.0,0.0,0.0,0.0,1.0,"""Fluroscopy""","""31 year old severely mentally and physically ..."
20,51,51-001,20.0,Male,1.0,1.0,0.0,NaN,0.0,NaN,...,Gastrointestinal Crosses,0.0,1.0,0.0,1.0,1.0,0.0,0.0,NaN,NaN
21,51,51-002,20.0,Male,1.0,1.0,0.0,NaN,0.0,NaN,...,Gastrointestinal Crosses,0.0,1.0,0.0,1.0,1.0,0.0,0.0,NaN,NaN
22,51,51-003,19.0,Male,1.0,1.0,0.0,NaN,0.0,NaN,...,Gastrointestinal Crosses,0.0,1.0,0.0,1.0,1.0,0.0,0.0,NaN,NaN
23,51,51-004,21.0,Male,1.0,1.0,0.0,NaN,0.0,NaN,...,Gastrointestinal Crosses,0.0,1.0,0.0,1.0,1.0,0.0,0.0,NaN,NaN

In [430]:
export_path = os.path.join(PROC_DATA_DIR, 'data_cleaning', 'case_data_clean.csv')
case_data.to_csv(export_path, index=False)

In [431]:
case_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 195 entries, 19 to 213
Data columns (total 35 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Study_ID                             195 non-null    object
 1   Patient_ID                           195 non-null    object
 2   Age_Yrs                              193 non-null    float64
 3   Gender                               195 non-null    object
 4   Is_Intentional                       195 non-null    float64
 5   Is_Prisoner                          184 non-null    float64
 6   Is_Psych_Inpat                       156 non-null    float64
 7   Is_Displaced_Person                  53 non-null     float64
 8   Under_Influence_Alcohol              78 non-null     float64
 9   Psych_Hx                             161 non-null    float64
 10  Severe_Disability_Hx                 169 non-null    float64
 11  Previous_Ingestions                  124 non-null    float64
 12  Motivation_Intent_To_Harm            82 non-null     float64
 13  Motivation_Protest                   89 non-null     float64
 14  Motivation_Psychiatric               103 non-null    float64
 15  Motivation_Psychosocial              103 non-null    float64
 16  Motivation_Unknown                   191 non-null    float64
 17  Motivation_Other                     186 non-null    float64
 18  Motivation_Other_Long                163 non-null    object
 19  Object_Button_Battery                192 non-null    float64
 20  Object_Magnet                        192 non-null    float64
 21  Object_Long                          195 non-null    object
 22  Object_Diameter_Large                187 non-null    float64
 23  Object_Sharp                         188 non-null    float64
 24  Object_Multiple                      191 non-null    float64
 25  Object_Other_Long                    192 non-null    object
 26  Outcome_Endoscopy                    190 non-null    float64
 27  Outcome_Surgery                      190 non-null    float64
 28  Outcome_Death                        188 non-null    float64
 29  Outcome_Injury_Needing_Intervention  180 non-null    float64
 30  Outcome_Perforation                  178 non-null    float64
 31  Outcome_Obstruction                  180 non-null    float64
 32  Outcome_Other                        184 non-null    float64
 33  Outcome_Other_Long                   110 non-null    object
 34  Comments                             27 non-null     object
dtypes: float64(27), object(8)
memory usage: 54.8+ KB