In [45]:
from msc_code.scripts.notebook_setup import *

In [46]:
# Import series_data
import_path = os.path.join(RAW_DATA_DIR, 'data_extraction', 'series_data_end.xlsx')
series_data = pd.read_excel(import_path)

In [47]:
series_data.head()

,Study_ID,Comments,Patient_Count,Case_Count,Age_Low,Age_High,Age_Mean,Age_Median,Verified_Ingestion_Cases,Verified_Ingestion_Rate,...,Outcome_Perforation_Rate,Outcome_Obstruction_Cases,Outcome_Obstruction_Rate,Outcome_Other_Cases,Outcome_Other_Rate,Outcome_Other_Long,Outcome_Conservative_Cases,Outcome_Conservative_Rate,Outcome_Endoscopy_Surgery_Cases,Outcome_Endoscopy_Surgery_Rate
0,46,NaN,30,36,15,69,25.8,UK,NaN,NaN,...,UK,2,UK,1,UK,Haemorrhage,30,UK,1,UK
1,131,NaN,60,262,17,82,33,UK,NaN,NaN,...,UK,0,0,4,0,Bleeding,UK,UK,12,UK
2,139,NaN,33,305,18,56,35.4,UK,NaN,NaN,...,0,1,UK,10,UK,3.6%) including mucosal trauma and/or bleeding...,UK,UK,2,UK
3,192,Does not report number of rates of complicatio...,30,141,20,48,27,UK,NaN,NaN,...,UK,UK,UK,UK,UK,UK,UK,0.26,UK,0.03
4,256,Does not give empirical data on population cha...,762,472,UK,UK,UK,UK,UK,UK,...,UK,UK,UK,UK,UK,UK,UK,UK,UK,UK

In [48]:
# Deal with UK (Unknown values)
series_data = series_data.replace("UK", np.nan)

# Define text_cols
text_cols = ['Study_ID', 'Comments'] + [col for col in series_data.columns if col.endswith('Long')]

# Create list of columns containing numerical values
numerical_cols = series_data.columns.drop(text_cols)

# Convert numerical columns to type float
series_data[numerical_cols] = series_data[numerical_cols].astype(float)

series_data.head()

/var/folders/2z/pkyt34z93md62kmcdphb_kf00000gn/T/ipykernel_88759/2653612413.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  series_data = series_data.replace("UK", np.nan)

,Study_ID,Comments,Patient_Count,Case_Count,Age_Low,Age_High,Age_Mean,Age_Median,Verified_Ingestion_Cases,Verified_Ingestion_Rate,...,Outcome_Perforation_Rate,Outcome_Obstruction_Cases,Outcome_Obstruction_Rate,Outcome_Other_Cases,Outcome_Other_Rate,Outcome_Other_Long,Outcome_Conservative_Cases,Outcome_Conservative_Rate,Outcome_Endoscopy_Surgery_Cases,Outcome_Endoscopy_Surgery_Rate
0,46,NaN,30.0,36.0,15.0,69.0,25.8,NaN,NaN,NaN,...,NaN,2.0,NaN,1.0,NaN,Haemorrhage,30.0,NaN,1.0,NaN
1,131,NaN,60.0,262.0,17.0,82.0,33.0,NaN,NaN,NaN,...,NaN,0.0,0.0,4.0,0.0,Bleeding,NaN,NaN,12.0,NaN
2,139,NaN,33.0,305.0,18.0,56.0,35.4,NaN,NaN,NaN,...,0.0,1.0,NaN,10.0,NaN,3.6%) including mucosal trauma and/or bleeding...,NaN,NaN,2.0,NaN
3,192,Does not report number of rates of complicatio...,30.0,141.0,20.0,48.0,27.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.26,NaN,0.03
4,256,Does not give empirical data on population cha...,762.0,472.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
outcome_cols = [col for col in series_data.columns if col.startswith('Outcome') and col != 'Outcome_Other_Long']
outcome_cols

['Outcome_Endoscopy_Cases',
 'Outcome_Endoscopy_Rate',
 'Outcome_Surgery_Cases',
 'Outcome_Surgery_Rate',
 'Outcome_Death_Cases',
 'Outcome_Death_Rate',
 'Outcome_Injury_Needing_Intervention_Cases',
 'Outcome_Injury_Needing_Intervention_Rate',
 'Outcome_Perforation_Cases',
 'Outcome_Perforation_Rate',
 'Outcome_Obstruction_Cases',
 'Outcome_Obstruction_Rate',
 'Outcome_Other_Cases',
 'Outcome_Other_Rate',
 'Outcome_Conservative_Cases',
 'Outcome_Conservative_Rate',
 'Outcome_Endoscopy_Surgery_Cases',
 'Outcome_Endoscopy_Surgery_Rate']

In [50]:
motivation_cols = [col for col in series_data.columns if col.startswith('Motivation') and col != 'Motivation_Other_Long']
motivation_cols

['Motivation_Intent_To_Harm_Cases',
 'Motivation_Intent_To_Harm_Rate',
 'Motivation_Protest_Cases',
 'Motivation_Protest_Rate',
 'Motivation_Psychiatric_Cases',
 'Motivation_Psychiatric_Rate',
 'Motivation_Psychosocial_Cases',
 'Motivation_Psychosocial_Rate',
 'Motivation_Unknown_Cases',
 'Motivation_Unknown_Rate',
 'Motivation_Other_Cases',
 'Motivation_Other_Rate',
 'Motivation_Other_Psych_Hx_Cases',
 'Motivation_Other_Psych_Hx_Rate',
 'Motivation_Other_Severe_Disability_Hx_Cases',
 'Motivation_Other_Severe_Disability_Hx_Rate']

In [51]:
object_cols = [col for col in series_data.columns if col.startswith('Object')]
object_cols

['Object_Count',
 'Object_Button_Battery_Cases',
 'Object_Button_Battery_Rate',
 'Object_Magnet_Cases',
 'Object_Magnet_Rate',
 'Object_Long_Cases',
 'Object_Long_Rate',
 'Object_Diameter_Large_Cases',
 'Object_Diameter_Large_Rate',
 'Object_Sharp_Cases',
 'Object_Sharp_Rate',
 'Object_Multiple_Cases',
 'Object_Multiple_Rate',
 'Object_Long_Sharp_Cases',
 'Object_Long_Sharp_Rate',
 'Object_Short_Cases',
 'Object_Short_Rate',
 'Object_Short_Sharp_Cases',
 'Object_Short_Sharp_Rate']

In [52]:
def calculate_variable_rate(input_df, 
                            output_df,
                            denominator_col,
                            variable_cols):

    input_df = input_df.copy()
    output_df = output_df.copy()

    # Create effective denominator with fallback
    input_df['effective_denominator'] = input_df[denominator_col].fillna(input_df['Patient_Count'])

    suffixes = ['_Cases', '_Rate']
    variables = set()

    for col in variable_cols:
        for suffix in suffixes:
            if col.endswith(suffix):
                variables.add(col[:-len(suffix)])
                break

    for var in variables:
        rate_col = f"{var}_Rate"
        case_col = f"{var}_Cases"

        if rate_col in input_df.columns and case_col in input_df.columns:
            # Fill missing rate
            mask_rate_missing = input_df[rate_col].isna() & input_df[case_col].notna()
            output_df.loc[mask_rate_missing, rate_col] = (
                input_df.loc[mask_rate_missing, case_col] / input_df.loc[mask_rate_missing, 'effective_denominator']
            )

            # Fill missing cases
            mask_cases_missing = input_df[case_col].isna() & input_df[rate_col].notna()
            output_df.loc[mask_cases_missing, case_col] = (
                input_df.loc[mask_cases_missing, rate_col] * input_df.loc[mask_cases_missing, 'effective_denominator']
            )

    # Optionally drop the temporary column
    output_df.drop(columns=['effective_denominator'], inplace=True, errors='ignore')

    return output_df

In [53]:
# Apply function, calculating rate and cases from 'Case_Count'
series_data = calculate_variable_rate(input_df=series_data, 
                                    output_df=series_data.copy(), 
                                    denominator_col='Object_Count', 
                                    variable_cols=object_cols)

series_data[object_cols].head()

,Object_Count,Object_Button_Battery_Cases,Object_Button_Battery_Rate,Object_Magnet_Cases,Object_Magnet_Rate,Object_Long_Cases,Object_Long_Rate,Object_Diameter_Large_Cases,Object_Diameter_Large_Rate,Object_Sharp_Cases,Object_Sharp_Rate,Object_Multiple_Cases,Object_Multiple_Rate,Object_Long_Sharp_Cases,Object_Long_Sharp_Rate,Object_Short_Cases,Object_Short_Rate,Object_Short_Sharp_Cases,Object_Short_Sharp_Rate
0,NaN,0.0,0.0,0.0,0.0,6.000,0.200000,6.000,0.200,32.000,1.066667,14.0,0.466667,NaN,NaN,30.000,1.000,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,147.000,0.560000,NaN,NaN,NaN,NaN,71.0,0.270000,NaN,NaN,46.000,0.180,9.0,0.15
2,NaN,NaN,NaN,NaN,NaN,146.000,4.424242,NaN,NaN,63.000,1.909091,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,228.0,NaN,NaN,0.0,0.0,156.864,0.688000,156.864,0.688,72.048,0.316000,NaN,NaN,NaN,NaN,71.136,0.312,NaN,NaN
4,1175.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
# Apply function, calculating rate and cases from 'Case_Count'
series_data = calculate_variable_rate(input_df=series_data, 
                                    output_df=series_data.copy(), 
                                    denominator_col='Case_Count', 
                                    variable_cols=motivation_cols)

series_data[motivation_cols].head()

,Motivation_Intent_To_Harm_Cases,Motivation_Intent_To_Harm_Rate,Motivation_Protest_Cases,Motivation_Protest_Rate,Motivation_Psychiatric_Cases,Motivation_Psychiatric_Rate,Motivation_Psychosocial_Cases,Motivation_Psychosocial_Rate,Motivation_Unknown_Cases,Motivation_Unknown_Rate,Motivation_Other_Cases,Motivation_Other_Rate,Motivation_Other_Psych_Hx_Cases,Motivation_Other_Psych_Hx_Rate,Motivation_Other_Severe_Disability_Hx_Cases,Motivation_Other_Severe_Disability_Hx_Rate
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,262.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,305.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,141.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,472.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
# Apply function, calculating rate and cases from 'Case_Count'
series_data = calculate_variable_rate(input_df=series_data, 
                                    output_df=series_data.copy(), 
                                    denominator_col='Case_Count', 
                                    variable_cols=outcome_cols)

series_data[outcome_cols].head()

,Outcome_Endoscopy_Cases,Outcome_Endoscopy_Rate,Outcome_Surgery_Cases,Outcome_Surgery_Rate,Outcome_Death_Cases,Outcome_Death_Rate,Outcome_Injury_Needing_Intervention_Cases,Outcome_Injury_Needing_Intervention_Rate,Outcome_Perforation_Cases,Outcome_Perforation_Rate,Outcome_Obstruction_Cases,Outcome_Obstruction_Rate,Outcome_Other_Cases,Outcome_Other_Rate,Outcome_Conservative_Cases,Outcome_Conservative_Rate,Outcome_Endoscopy_Surgery_Cases,Outcome_Endoscopy_Surgery_Rate
0,4.0,0.111111,2.0,0.055556,0.000,0.000,3.0,0.083333,1.0,0.027778,2.0,0.055556,1.0,0.027778,30.00,0.833333,1.00,0.027778
1,189.0,0.721374,30.0,0.114504,0.000,0.000,20.0,0.076336,16.0,0.061069,0.0,0.000000,4.0,0.000000,NaN,NaN,12.00,0.045802
2,NaN,NaN,2.0,0.006557,0.000,0.000,11.0,0.036066,0.0,0.000000,1.0,0.003279,10.0,0.032787,NaN,NaN,2.00,0.006557
3,97.0,0.660000,11.0,0.080000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.66,0.260000,4.23,0.030000
4,NaN,NaN,NaN,NaN,1.888,0.004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
len(series_data)

32

In [57]:
filter_series_data = series_data[series_data['Motivation_Unknown_Rate'] == 1]
len(filter_series_data)

22

In [58]:
export_path = os.path.join(PROC_DATA_DIR, 'data_extraction', 'series_data_clean.csv')
series_data.to_csv(export_path, index=False)